/* App.css */
body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.container {
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.summary div {
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.children {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.child-card {
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.child-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  background-color: #ffdd00;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #ffcc00;
}
